/* reset */
html,body,h1,h2,h3,h4,h5,h6,div,dl,dt,dd,ul,ol,li,p,blockquote,pre,hr,figure,table,caption,th,td,form,fieldset,legend,input,button,textarea,menu{margin:0;padding:0;}
html,body{position: relative;height: 100%;overflow: hidden;}
body{-webkit-font-smoothing: subpixel-antialiased;font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;font-size: 15px;line-height: 1.7}
a{text-decoration: none;}
h1,h2,h3,h4,h5{font-weight: 700; outline: 0;}
/* 布局 */
.g-hd{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 45px;
	background-color: #0767c8;
	background-image: -moz-linear-gradient(top,#086ed5,#055db5);
    background-image: -ms-linear-gradient(top,#086ed5,#055db5);
    background-image: -webkit-gradient(linear,0 0,0 100%,from(#086ed5),to(#055db5));
    background-image: -webkit-linear-gradient(top,#086ed5,#055db5);
    background-image: -o-linear-gradient(top,#086ed5,#055db5);
    background-image: linear-gradient(top,#086ed5,#055db5);
    background-repeat: repeat-x;
    border-bottom: 1px solid #044e97;
    box-shadow: 0 1px 2px rgba(0,0,0,.25),inset 0 1px 0 rgba(255,255,255,.15);
    z-index: 10;
}

.g-bd{
	position: relative;
	width: 100%;
	height: 100%;
	padding: 25px 0 50px;
	margin: 0 auto;
}

/* 模块 */
.m-nav{
	position: relative;
	width: 960px;
	height: inherit;
	margin: 0 auto;
}
.m-logo2{
	float: left;
	font-size: 30px;
	color: #f2f4f5;
	text-shadow: 0 0 1px #f2f4f5;
}

.m-login, .m-sign{
	top: 50px;
	width: 100%;
	height: 360px;
	color: #fff;
	background-color: #0078d8;
	box-shadow: inset 0 -1px 6px rgba(0,0,0,.1);
}
.login-wrap, .sign-wrap{
	position: relative;
	width: 740px;
	height: inherit;
	margin: 0 auto;
}
.m-logo{
	position: absolute;
	top: 50%;
	margin-top: -62px;
	width: 171px;
	height: 130px;
	background-image: url(../img/logo.png);
}
.form-wrap{
	float: right;
	margin: 50px 0;
	width: 202px;
}
.form-title{
	width: 100%;
	height: 25px;
}
.form-title a{
	color: #fff;
	float: right;
}
.form-title a:visited{
	color: #fff;
}
.form-title span{
	display: inline-block;
	margin-left: 8px;
	width: 18px;
	height: 19px;
	background: url(../img/icon.png) -3px -1px no-repeat;
}
.form input{
	display: block;
	margin-top: 18px;
	padding: 8px 10px;
	width: 180px;
	background-color: #e7f1f8;
	border: 1px solid #1672B9;
    border-radius: 5px;
    box-shadow: inset 0 1px 2px rgba(15,82,135,.25),0 1px 0 rgba(255,255,255,.15);
}
.form-btn{
	display: block;
	margin-top: 18px;
    padding: 0;
    width: 100%;
    color: #fff;
    font-size: 15px;
    line-height: 33px;
    text-align: center;
    text-shadow: 0 1px 1px rgba(0,0,0,.2);
    background: #80C3F7;
    background: -webkit-gradient(linear,left top,left bottom,from(#80c3f7),to(#6bbaf8));
    border: 1px solid #1D80CF;
    border-radius: 5px;
    box-shadow: inset 0 1px 0 rgba(255,255,255,.3),0 1px 1px rgba(50,50,50,.05);
    outline: 0;
    cursor: pointer;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
.form-err{
	margin-top: 18px;
    padding: 10px;
    width: 182px;
    font-size: 13px;
    background: rgba(0,0,0,.1);
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0,0,0,.1) inset,0 1px 0 rgba(255,255,255,.15);
}
.form-err span{
	display: inline-block;
	height: 16px;
    width: 16px;
    margin-right: 8px;
    vertical-align: -3px;
    background: url(../img/icon.png) -22px -1px;
}

.m-content{
	position: relative;
	margin: 0 auto;
	padding: 25px 0 50px;
	width: 960px;
}
.content-inner{
	position: relative;
	margin: 0 328px 0 0;
}
.content-side{
	position: relative;
	float: right;
	margin: 0 0 0 -270px;
	width: 270px;
}
.content-side a{
	display: inline-block;
	padding: 4px 10px;
	width: auto;
	color: #3e5e00!important;
	min-width: 78px;
	font-size: 14px;
	vertical-align: middle;
	text-align: center;
	white-space: nowrap;
	border-radius: 3px;
	text-shadow: 0 1px 0 rgba(255,255,255,.3);
    border: 1px solid #6d8f29;
    background: #8ab923;
    box-shadow: 0 1px 0 rgba(255,255,255,.5) inset,0 1px 0 rgba(0,0,0,.2);
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}
.content-title{
	margin: 0 0 10px;
	color: #666;
	font-size: 14px;
	font-weight: 700;
}
.content-list{
	position: relative;
	border-top: 1px solid #ccc;
}
.content-post{
	position: relative;
	margin-left: 0;
	padding: 10px 0;
	outline: 0;
	border-top: 1px solid #eee;
}
.content-post-main{
	margin-left: 48px;
}
.content-post-main div.source{
	color: #999;
}
.content-post-main div.source>span{
 	float: right;
	display: inline-block;
	margin-left: 2px;
	font-size: 12px;
}
.content-post-main div.content>a{
	display: block;
	margin-right: 20px;
	color: #259;
	font-weight: 700;
	font-size: 14px;
	outline: 0;
}
.content-post-main div.content>p{
	position: relative;
	margin-top: 3px;
	width: 100%;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.no-content{

}


.post-title{
	margin: 0 0 5px;
	font-size: 18px;
}
.post-title h2{
	display: inline;
}
.post-writer{
	margin: 0 0 1px;
	font-size: 13px;
}
.post-content{
	color: #222;
	font-size: 13px;
	word-wrap: break-word;
}
.post-date{
	margin-top: 8px;
	color: #999;
	font-size: 12px;
}

.m-comments {
	position: relative;
    margin: 10px 0 35px;
    max-width: 540px;
    color: #999;
    font-size: 13px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
    background: #fff;
}
.comment-list>div{
	position: relative;
	margin: 0 12px;
	padding: 8px 0;
	border-bottom: solid 1px #eee;
}
.comment-wrap{
	margin: 0 0 0 35px;
}
.comment-writer{
	color: #259;
}
.comment-content{
	width: 481px;
	color: #222;
	min-height: 22px;
	word-wrap: break-word;
}
.comment-date{
	font-size: 12px;
}
.m-addcomment{
	position: relative;
	margin-top: 30px;
	width: 540px;
	background: #fbfbfb;
    border-radius: 0 0 4px 4px;
    border-top: 1px solid #EEE;
    
}
.m-addcomment form textarea {
    padding: 7px 8px;
    margin: 10px 10px;
    width: 500px;
    font-size: 13px;
    line-height: 22px;
    min-height: 22px;
    white-space: pre-wrap;
    color: #222;
    cursor: text;
    border: 1px solid #ddd;
    border-radius: 3px;
    box-shadow: 0 1px 3px rgba(0,0,0,.1) inset;
    background-color: #fff;
}
.m-addcomment form button{
	display: block;
	float: right;
	font-size: 14px;
	text-shadow: 0 -1px 0 rgba(0,0,0,.5);
    border: 1px solid #0D6EB8;
    color: #fff!important;
    background-color: #1472CF;
    box-shadow: 0 1px 0 rgba(255,255,255,.2) inset,0 1px 0 rgba(0,0,0,.2);
    vertical-align: baseline;
}


.m-post{
	margin: 60px auto;
	width: 500px;
}
.m-post [placeholder] {
    width: 480px;
    margin-bottom: 10px;
    border: 1px solid #eee;
    padding: 8px 10px;
}

.m-post [placeholder]:focus {
    box-shadow: 0 0 3px #0085FF;
    border-color:#0085FF;
}

.m-post textarea {
    min-height: 70px;
}