<div class="m-sign">
	<div class="sign-wrap">
		<div class="m-logo"></div>
		<div class="form-wrap">
			<form class="form" ng-submit="form.submit()">
				<input type="text" placeholder="用户名" ng-model="form.username"/>
				<input type="text" placeholder="密码" ng-model="form.password"/>
				<div class="form-err" ng-if="err"><span></span>{{err}}</div>
				<button class="form-btn" type="submit">注册账号</button>
				<div class="form-title">
					<p>注册膜乎</p>
					<a href="/#/register">登陆<span></span></a>
				</div>
			</form>
		</div>
</div>